img {
    max-width: 100%;
    max-height: auto;
}

body {
    font-family: "mulish", "inter", "Playfair Display", sans-serif;
    
}
.header {
    margin: 0 auto;
    margin-bottom: 108px;
    max-width: 1270px;
    max-height: 60px;
    padding: 15px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper {
    display: flex;
    align-items: center;
}
.nav__list {
    height: 44px;
    display: flex;
    align-items: center;
}  
.nav__item {
     margin-right: 35px;
}
.nav__link {
    text-decoration: none;
    color: #B8BECD;  
}
.nav__link:hover {
    color: black;
    transition: color 0.5s linear;
}
li:first-child a{
   color: #202336; 
}
.autorization {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 132px;
    height: 44px;  
    text-align: center;
    color:  #FB8F1D;
    border-style: solid;
    border-color: #FB8F1D;
    background: none;
    text-decoration: none;
    margin-right: 18px;
    border-radius: 10px;
    cursor: pointer;  
}
.login:hover {
    background-color: rgb(250, 67, 67);
    transition: background-color 0.5s linear;
    color: #fff;
    font-size: 1.3em;
}
.register {
    width: 132px;
    height: 44px;
    text-align: center;
    background-color: #FB8F1D;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #FB8F1D;
    cursor: pointer;
}
.register span {
    color: #fff;
}
.register:hover {
    color: #fff;
    background-color: rgb(250, 67, 67);
    transition: background-color 0.5s linear;
    font-size: 1.3em;
}
.register:hover span {display:none}
.register:hover::after {content:"Push"}

.sign_icon {
    display: none;
}

.autoriz_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 30px;
    height: 5px;
    background-color: #5e6070;
    margin: 4px 0;
}
.burger {
    display: none;
}

@media screen and (max-width: 760px) {
    .header {
        margin-bottom: 70px;
    }
    .navigation {
        display: none;
    }
    .burger {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 570px) {
    .autoriz_wrapper {
        display: none;
    }
    .sign_icon {
        display: block;
    }
    .header {
        margin-bottom: 20px;
    }
}
    

/*-----------------end of header---------------------*/




.upperblock {
    margin: 0 auto;
    margin-bottom: 291px;
    max-width: 1301px;
    max-height: 644px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upperblock__inner {
    max-width: 370px;
    max-height: 348px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}
.upperblock__header {
    margin-bottom: 73px;
    font-family: "Playfair Display";
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #202336;
}
.upperblock__paragraph {
    margin-bottom: 33px;
}
.upperblock__button {
    width: 180px;
    height: 60px;
    text-align: center;
    background-color: #FB8F1D;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #FB8F1D;
    cursor: pointer;
    box-shadow: 3px 20px 40px 0px #fb8a1b
}
.mobile__button {
    display: none;
}
.upperblock__button:hover {
    background-color: rgb(250, 67, 67);
    transition: background-color 0.5s linear;
    transform: translate(5px, -5px);
}
.upperblock__image {
    max-width: 687px;
    max-height: 643px;
}

@media screen and (max-width: 685px) {
    .upperblock {
        margin-bottom: 160px;
        flex-direction: column;
        align-items: center;
    }
    .upperblock__inner {
        max-width: 685px;
        padding: 0 15px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .upperblock__header {
        text-align: center;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        font-size: 10vw;
    }
    .upperblock__image {
        max-width: 600px;
        max-height: auto;
    }
    .upperblock__button {
        display: none;
    }
    .mobile__button {
        display: block;
        width: 90%;
        max-height: 30px;
        margin-top: 15px;
        text-align: center;
        background-color: #FB8F1D;
        color: #ffffff;
        border-radius: 5px;
        border-style: solid;
        border-color: #FB8F1D;
        cursor: pointer;
        box-shadow: 3px 5px 20px 0px #fb8a1b
    }

}
@media screen and (max-width: 485px) {
    .upperblock {
        margin-bottom: 40px;
    }
}


/*----------------end of upperblock----------------------*/


.middleblock {
    max-width: 1301px;
    max-height: 644px;
    margin: 0 auto;
    margin-bottom: 298px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middleblock__inner {
    max-width: 481px;
    max-height: 336px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
}
.middleblock__header {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.middleblock__paragraph {
    margin-bottom: 33px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
}
.middleblock__button {
    width: 180px;
    height: 60px;
    text-align: center;
    background-color: #FB8F1D;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    border-color: #FB8F1D;
    cursor: pointer;
    box-shadow: 3px 20px 40px 0px #fb8a1b
}
.middleblock__button:hover {
    background-color: rgb(250, 67, 67);
    transition: background-color 0.5s linear;
    transform: translate(5px, -5px);
}
.middleblock__image {
    max-width: 659px;
    max-height: 534px;
}
@media screen and (max-width: 685px) {
    .middleblock {
        margin-bottom: 160px;
        flex-direction: column;
        align-items: center;
    }
    .middleblock__inner {
        max-width: 685px;
        padding: 0 15px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        order: 0;
    }
    .middleblock__header {
        text-align: center;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        font-size: 6vw;
    }
    .middleblock__paragraph {
        text-align: justify;
    }
    .middleblock__image {
        max-width: 600px;
        max-height: auto;
    }
    .middleblock__button {
        display: none;
    }
}
@media screen and (max-width: 485px) {
    .middleblock {
        margin-bottom: 40px;
    }
}


/*--------------------end of middleblock-----------------------*/



.featured-block {
    font-family: "Playfair Display";
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 222px;
    max-width: 1150px;
    max-height: 453px;
    line-height: 50px;
    font-weight: 700;
}
.featured-link {
    text-decoration: none;
    color: #FB8F1D;
}
.heading {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
}
.image__list {
    display: flex;
    justify-content: space-evenly;
}
.image__container {
    width: 261px;
    height: 347px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
}
.image__container img {
    border-radius: 10px;
}
.image__contaiin:last-child {
    margin-right: none; 
}
.image__description {
    font-family: "inter";
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    width: 120px;
    height: 58px;
    bottom: 0;
    left: 0;
    background-color: white;
    position: absolute;
    border-radius: 0px 6px 0px 0px;
}
span {
    color: #80918E;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
@media screen and (max-width: 800px) {
    .image__list {
        flex-wrap: wrap;
        flex-direction: row-reverse;
     }
     /*.image__container:nth-child(2n) { order: 1; }
     .image__container:nth-child(1n+2) { order: 2; }
     */
     .featured-block {
         margin-bottom: 40px;
         max-height: 866px;
        }
        .heading {
            margin-bottom: 25px;
        }
      }
@media screen and (max-width: 562px) {
    .image__container {
        width: 221px;
        height: 307px;
    }
}
@media screen and (max-width: 482px) {
    .image__container {
        width: 181px;
        height: 277px;
    }
}
@media screen and (max-width: 382px) {
    .image__container {
        width: 136px;
        height: 232px;
    }
}


/*------------------end of featured-block--------------------*/

